* {
  margin: 0px;
  padding: 0px;
}
html,
body {
  width: 100%;
  height: 100%;
}
p {
  padding: 10px 0;
  text-align: justify;
}
.clearfix::before,
.clearfix::after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  clear: both;
}
.mainCon {
  padding: 0 44px;
  /*?????文章主体内容的字体大小，我没找到????????????*/
  font-size: 35px;
}
img {
  width: 100%;
}
/******文章头部******/
.contentTitle h1 {
  padding: 40px 0 0;
  text-align: center;
  font-size: 63px;
}
.contentTitle .writer {
  font-size: 40px;
  padding: 40px 0;
  border-bottom: 1px solid #ddd;
}
.contentTitle .writer > .wriName {
  float: left;
}
.contentTitle .writer > .wriTime {
  float: right;
}
/******文章详情******/
.contentDetial {
  /*设计图40px，上下的p标签有10px内边距*/
  padding: 40px 0;
  /*video相关*/
}
.contentDetial .videoBox {
  width: 100%;
  margin: 30px 0;
  position: relative;
  /*display: none;*/
}
.contentDetial .videoBox video {
  width: 100%;
}
/*传送门*/
.gateway {
  /*设计图40px，上下的p标签有10px内边距*/
  padding: 30px 0;
}
.gateway .gateHead {
  padding-bottom: 24px;
  font-size: 35px;
  color: #9a9a9a;
}
.gateway .gateContent {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 30px 0;
  /*左*/
  /*中*/
  /*右*/
}
.gateway .gateContent > .conLeft {
  float: left;
  width: 112px;
  height: 74px;
  border: 1px solid red;
}
.gateway .gateContent > .conCenter {
  float: left;
  overflow: hidden;
  padding-left: 30px;
  width: 65%;
}
.gateway .gateContent > .conCenter .gcHead {
  color: #545454;
  font-size: 35px;
}
.gateway .gateContent > .conCenter gcContent {
  font-size: 26px;
  text-align: justify;
  color: #9a9a9a;
}
.gateway .gateContent > .conRight {
  float: right;
  color: #f6a623;
  font-size: 26px;
  border: 1px solid red;
  margin-top: 40px;
}
/*如果JavaScript没有被用户禁用*/
.js .videoBox .controlBar,
.js .controlBar {
  display: block;
  position: absolute;
  background-color: #334;
  height: 100px;
  width: 100%;
  bottom: 10px;
}
.js .videoBox .controlBar .videoButton,
.js .controlBar .videoButton {
  width: 80px;
  height: 80px;
  top: 10px;
  color: white;
  font-size: 40px;
  background: transparent;
  border: none;
}
.js .videoBox .controlBar #play,
.js .controlBar #play {
  position: absolute;
  left: 10px;
}
.js .videoBox .controlBar #progress,
.js .controlBar #progress {
  box-sizing: border-box;
  width: 80%;
  margin: 10px 10%;
  overflow: hidden;
  border-radius: 5px;
}
.js .videoBox .controlBar #progress #progress_box,
.js .controlBar #progress #progress_box {
  position: relative;
  width: 80%;
  height: 6px;
  background: white;
  margin: 37px 10% 0;
  border-radius: 5px;
}
.js .videoBox .controlBar #progress #play_progress,
.js .controlBar #progress #play_progress {
  position: absolute;
  width: 0px;
  height: 6px;
  background: white;
  top: 0;
  left: 0px;
  background: skyblue;
  border-radius: 5px;
}
.js .videoBox .controlBar #progress #play_progress2,
.js .controlBar #progress #play_progress2 {
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  top: -2px;
  left: -5px;
}
.js .videoBox .controlBar #fullScreen,
.js .controlBar #fullScreen {
  position: absolute;
  right: 10px;
}
.fullsizeVideo {
  position: fixed;
  background: black;
  top: 0;
}
.fullsizeVideo .videoBox {
  position: absolute;
  margin: 0;
}
@media screen and (orientation: portrait) {
  .fullsizeVideo .videoBox {
    top: 30%;
  }
}
